@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Questrial&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap'); */
@import "tailwindcss";

.active hr {
    display: block;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

* {
    font-family: Outfit;
    /* font-family: Poppins; */
}


/* @media (max-width:740px) {
    .active p {
        @apply text-white bg-blue-400
    }
} */
@media (max-width:740px) {
    .active p {
        color: white;
        background-color: #60a5fa; /* Tailwind's bg-blue-400 */
    }
}

@keyframes infinite-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-infinite-scroll {
    animation: infinite-scroll 25s linear infinite;
    display: flex;
    width: max-content;
}

/* Pause on hover */
.group:hover .animate-infinite-scroll {
    animation-play-state: paused;
}

